extends layout

block content
  form(action="/batchadd", method="post", enctype="multipart/form-data")
    input(type="file", name="fileToUpload")
    input(type="submit", value="Upload")
  section(class="linkBar-container")
    nav(class="linkBar")
      a(href="/polist") Purchase Order List
      a(href="/addpo") Input a Purchase Order
      a(href="/addvendor") Add or Modify A vendor
      a(href="/admin") Administrative Login 