extends layout

block content
    h1= "Welcome to Purchase Order Input!"
    br
    section(class="linkBar-container")
      nav(class="linkBar")
        a(href="/polist") Purchase Order List
        a(href="/addpo") Input a Purchase Order
        a(href="/addvendor") Add or Modify A Vendor
        a(href="/admin") Administrative Login 

